@import "./variables.scss";

@mixin flex-ctr {
    display: flex;
    justify-content: center;
}

@mixin picture-size {
    width: 20rem;
    height: 9rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@mixin button {
    border-bottom-left-radius: 20rem;
    border-bottom-right-radius: 20rem;
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
    border-style: none;
    box-shadow: 2px 2px 6px #c9c9c9;
    padding: 1rem 1.5rem;
    margin-top: 1.5rem;
    background: linear-gradient(180deg,#FF79DA,#9356DC);
    color: white;
}

@mixin icon-hover {
    :hover{
        color: $primary;
    }
}

@mixin heart-property {
    font-size: 1.5em;
    color:black;
    cursor: pointer;
}

@mixin emptyheart-property{
    color: black;
    cursor: pointer;    
}

@mixin heart-hover{
    transform: rotateY(100%);
    transition-duration: 3s;
    font-weight: 900;
    color: #FF79DA
}

@mixin arrow-property{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

@mixin fas-feature{
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(.1);
    transition-duration: 2s;
    color: linear-gradient(45deg, $secondary 0%, $primary 100%);
    cursor: pointer;
}

@mixin fas-hover{
    background: linear-gradient(45deg, $secondary 0%, $primary 100%);
    transform: scale(1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}

@mixin far-hover{
    display: block;
    background: linear-gradient($secondary 0%, $primary 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

@mixin title-feature{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:  0rem 1.4rem;
    position: relative;
    margin-bottom: 0.5rem;
}

@mixin starter-feature{
    padding: 0rem 1rem;
}

@mixin menu-layout{
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

@mixin dish-layout{
    padding: 0.8rem 0.6rem;
    background-color: white;
    border-radius: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 2px #c9c9c9;
}

@mixin main-footer{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    line-height: 1.5rem;
    background-color:#353535;
}

@mixin footer-menu{
    margin-top: 1rem;
    line-height: 1.5rem;
    color: white;
}

@mixin logo-footer{
    font-weight: bold;
    color: white;
    font-family: shrikhand;
}

@mixin utensils{
    color: white;
    padding-right: 1.2em;
}

@mixin hands{
    color: white;
    padding-right: 0.8em;
}