@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Shrikhand&display=swap');
@import "./mixin.scss";
@import "./variables.scss";
 

body{
    background-color: #eaeaea;
    font-family: Roboto;
}

a:link{
    text-decoration: none;
}

#div-logo{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    background-color: white;
}

#img-logo{
    width: 92%;
    display: flex;
    justify-content: center;
}

#logo{
    width: 10rem;
}

.fa-arrow-left{
    @include arrow-property;
}

.picture{
    width: 100%;
}

#menu{
    position: relative;
    background-color: #eaeaea;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -3.5rem;

    &-title{
    font-family: shrikhand;
    font-weight: lighter;
    margin-top: 2rem;
    }
}

#div-title{
    @include title-feature;
}

.starter-title{
    @include starter-feature;
    margin-top: 1rem;
}

.starter-border{
    font-weight: lighter;
    border-top: 0.2rem solid #99e2d0;
    width: 2.4rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
    padding-bottom: 1rem;
}

.empty{
    @include emptyheart-property;

    &:hover{
        @include heart-hover;
    }
}

@keyframes slider{
    0%{
    transform: translateY(15%);
    opacity: 0%;
}
    100%{
        transform: translateY(0%);
        opacity: 100%;
    }
}

.dish-container{
    display: flex;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 2px #c9c9c9;
    cursor: pointer;
     &:hover{
        .slide{
            width:60px;
        }
        .fa-check-circle{
            transition: 800ms ease-in-out;
            transform: rotate(-360deg);
        }
        
     }
     
}

@for $i from 1 through 10 {
    .element-menu-#{$i} {
        animation: slider 1s*$i forwards;
    }
}

.dish-info{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0.8rem;
    overflow: hidden;
    width: 100%;
}

.description{
    @include text-reduction;
}

.dish-title{
    font-weight: bold;
    padding-bottom: 0.2em;
    @include text-reduction;
}

.ingredients{
    @include text-reduction;
    font-size: 0.9em;
    font-weight: lighter;
    padding-top: 0.2rem;
}


.price{
    font-weight: 700;
    margin-top: auto;
    padding-left: 0.5em;
}

.slide{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #99e2d0;
        color: white;
        width: 0%;
        transition: width 800ms ease-in-out;

        .fa-check-circle{
            transition: 800ms ease-in-out;
            transform: rotate(360deg);
        }
}

.menu-layout{
    @include menu-layout;
}

.order-btn{
    display: flex;
    justify-content: center;
}

.btn-second{
    @include button;
    margin-top: auto;
    margin-bottom: 3rem;
}

#main-footer{
    @include main-footer;
}

#footer-menu{
    @include footer-menu;
}

#logo-footer{
    @include logo-footer;
}

.fa-utensils{
    @include utensils;
}

.fa-hands-helping{
    @include hands;
}