@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Shrikhand&display=swap');
@import "./mixin.scss";
@import "./variables.scss";

body{
    background-color: #eaeaea;
    font-family: Roboto;
}

@for $i from 2 through 8 {
    .l#{$i} {
            animation-delay: 0.1s*$i;
    }
}

#loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    margin-top: 120px;
    animation: fadeout 0.25s 3s forwards;
}

.letter{
    color: #FF79DA;
    animation: loader infinite 0.3s alternate;
    font-size: 5rem;
}

@keyframes loader{
    100% {
        transform: translateY(-30px);
    }
}

@keyframes fadeout{
    0%{opacity: 100%;}
    100%{
        opacity: 0%;
        visibility: hidden;
    }
}


.l2{animation-delay: 0.1s;}

.l3{animation-delay: 0.2s;}

.l4{animation-delay: 0.3s;}

.l5{animation-delay: 0.4s;}

.l6{animation-delay: 0.5s;}

.l7{animation-delay: 0.6s;}

.l8{animation-delay: 0.7s;}


#div-logo{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    background-color: white;
}

#img-logo{
    width: 92%;
    display: flex;
    justify-content: center;
}

#logo{
    width: 10rem;
}

.fa-arrow-left{
    @include arrow-property;
}

.picture{
    width: 100%;
}

#menu{
    position: relative;
    background-color: #eaeaea;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -3.5rem;

    &-title{
    font-family: shrikhand;
    font-weight: lighter;
    margin-top: 2rem;
    }
}

#div-title{
    @include title-feature;
}

.starter-title{
    @include starter-feature;
    margin-top: 1rem;
}

.starter-border{
    font-weight: lighter;
    border-top: 0.2rem solid #99e2d0;
    width: 2.4rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
    padding-bottom: 1rem;
}


.full{
    visibility:hidden;
    font-size: 1.3rem;
    @include fas-feature;

    &:hover{
         @include fas-hover;
        }
    
}

.empty{
    display: flex;
    align-items: 1.3rem;
    font-size: 1.3rem;
    cursor: pointer;

    &:hover{
        @include far-hover;
    }
}

.dish-container{
    @include dish-layout;
}

.ingredients{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: lighter;
}

.dish-title{
    font-weight: bold;
}

.price{
    font-weight: bold;
}


.menu-layout{
    @include menu-layout;
}

.order-btn{
    display: flex;
    justify-content: center;
}

.btn-second{
    @include button;
    margin-top: auto;
    margin-bottom: 3rem;
}

#main-footer{
    @include main-footer;
}

#footer-menu{
    @include footer-menu;
}

#logo-footer{
    @include logo-footer;
}

.fa-utensils{
    @include utensils;
}

.fa-hands-helping{
    @include hands;
}