@import "./mixin.scss";
@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body{
    font-family: Roboto;
    background-color: #eaeaea;
}

// LOADER

@keyframes fadeout{
    0%{opacity: 100%;}
    100%{
        opacity: 0%;
        visibility: hidden;
    }
}

#loader-container{
    position: fixed;
    top: 0;
    height: 100%;
    width: 80%;
    z-index: 100;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    animation: fadeout 0.25s 3s forwards;      
    }

    @media  (max-width:767px){
        #loader-container{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .letter{
            font-size: 3.2rem;
        }
    }

@keyframes loader{
    100% {
        transform: translateY(-30px);
    }
}

.letter{
    font-family: shrikhand;
    background-image: linear-gradient(180deg, $secondary, $primary);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: loader infinite 0.3s alternate;
    // font-size: 5rem;
    padding: 17px;
}

@for $i from 1 through 8 {
    .l-#{$i} {
        animation-delay: 0.1s * $i;
    }
}



// FIN DU LOADER


#div-logo{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    background-color: white;
}

#logo{
    width: 10rem;
}

#locate{
    @include flex-ctr;
}


#map{
    &-container{
    @include flex-ctr;
    background-color: #eaeaea;
    padding: 0.8rem;
    border-top: 3px solid #cccc;
    margin-bottom: 1rem;
    }

    &-marker{
        @include flex-ctr;
        margin-right: 1rem;
        padding-left: 5rem;
    }
}


.btn{
    @include flex-ctr;
    &-second:hover{
        background: $secondary;
    }
}


.btn-first{
    border: none;
    background-color: #eaeaea;
}


#explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom: 5vh;
}

#order{
    width: 65%;
}

#explore-description{
    opacity: 0.6;
}

.btn{
    @include btn-hover;
}

.btn-second{
    @include button;
}


#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.btn-fonction:hover{
    background-color: #f5edff;
    .fonction-icon{
        color: $primary;
    }
}

#menu-title{
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    width: 19rem;
}

.fx-compose{
    margin-right: 0.8rem;
}
.btn-fonction{
    display: flex;
    align-items: center;
    border-radius: 15px;
    border-style: none;
    box-shadow: 2px 2px 6px #F6F6F6;
    font-weight: bold;
    text-decoration: none;
    background-color:#F6F6F6;
    padding: 1.5rem 2rem;
    width: 15rem;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}

.fonction-number{
    margin-left: -4rem;
    color: white;
    background-color: $primary;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fonction-icon{
    color: #7e7e7e;
}

.fx-btn{
    color: black;
    opacity: 0.8;
}


#section-restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    padding-bottom: 2.5rem;
    
}

#container-restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-restaurant{
    @include flex-ctr;
    flex-direction: column;
    align-content: center;
    background-color: white;
    height: 12.6rem;
    width: 20rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}


.picture{
    @include picture-size;
}

.title{
    font-weight: bold;
}

.restaurant{

    &-title{
        width: 20rem;
    }

    &-card{
        @include flex-ctr;
        padding-bottom: 1em;
    }
}

.new{
    display: inline;
    text-align: center;
    font-size: smaller;
    font-weight:600;
    color: #008766;
    background-color: #99e2d0;
    border: none;
    border-radius: 0.15em;
    position: absolute;
    top: 10px;
    padding: 0.5em 0.7em;
    right: 10px;
}

.restaurant-card-clickable{
    position: relative;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
}

.title, .place{
    color: black;
    padding-bottom: 0.2rem;
}

.place{
    font-weight: lighter;
    font-size: 1em;
}

.detail-container{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.empty{
    @include emptyheart-property;

    &:hover{
        @include heart-hover;
    }
}

#main-footer{
    @include main-footer;
}

#footer-menu{
    @include footer-menu;
}

#logo-footer{
    @include logo-footer;
}

.fa-utensils{
    @include utensils;
}

.fa-hands-helping{
    @include hands;
}

#contact{
    text-decoration: none;
    color: white;
}