@import "./variables.scss";

@mixin flex-ctr {
    display: flex;
    justify-content: center;
}

@mixin picture-size {
    width: 20rem;
    height: 9rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@mixin button {
    border-bottom-left-radius: 20rem;
    border-bottom-right-radius: 20rem;
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
    height: 5vh;
    width: 56vw;
    border-style: none;
    box-shadow: 2px 2px 6px #c9c9c9;
}

@mixin icon-hover {
    :hover{
        color: $primary;
    }
}

@mixin heart-property {
    font-size: 1.5em;
    color:black;
    cursor: pointer;
}