@import "./mixin.scss";
@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@font-face{
    font-family: Shrikhand;
    src: url("./fonts/Shrikhand");
}

body{
    font-family: Roboto;
    src: url(./fonts/Roboto);
}

#div-logo{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#logo{
    width: 10rem;
}

#locate{
    @include flex-ctr;
}


#map{
    &-container{
    @include flex-ctr;
    background-color: #e2e2e2;
    padding-left: 5vw;
    border-top: 3px solid #cccc;
    }

    &-marker{
        @include flex-ctr;
        height: 5vh;
    }
}


.btn{
    @include flex-ctr;
}

.fa-map-marker-alt{
    margin-top: 0.7em;
    margin-left: 14vw;
    margin-right: 4vw;
}

.btn-first{
    border: none;
    background-color: #e2e2e2;
}


#explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F2F2F2;
    padding-bottom: 5vh;
}

#order{
    width: 65%;
}

#explore-description{
    opacity: 0.6;
}

.btn-second{
    @include button;
    margin-top: 1.5rem;
    background: linear-gradient(180deg,#FF79DA,#9356DC);
    color: white;
}


#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

#menu :hover{
    background-color: #f8d7ef;
    .fonction-icon{
        color: $primary;
    }
}

#menu-title{
    margin-left: 20px;
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
}

.fx-compose{
    margin-right: 0.8rem;
}
.btn-fonction{
    display: flex;
    align-items: center;
    border-radius: 20px;
    border-style: none;
    box-shadow: 2px 2px 6px #c9c9c9;
    font-weight: bold;
    text-decoration: none;
    background-color:#F2F2F2;
    padding: 1rem;
    width: 15rem;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}

.fonction-number{
    margin-left: -2.8rem;
    color: white;
    background-color: $primary;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fonction-icon{
    color: grey;
}

.fx-btn{
    color: black;
    opacity: 0.8;
}


#main-restaurants{
    background-color: #F2F2F2;
    padding-top: 2.5rem;
}

#container-restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restaurants-title{
    margin-left: 20px;
}

.div-restaurant{
    @include flex-ctr;
    flex-direction: column;
    align-content: center;
    background-color: white;
    height: 12.6rem;
    width: 20rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}


.picture{
    @include picture-size;
}

.title{
    font-weight: bold;
}

.restaurant-card{
    @include flex-ctr;
}

.restaurant-card-clickable{
    text-decoration: none;
}

.title, .place, .fa-heart{
    color: black;
}

.detail-container{
    padding: 1em;
}

.heart-container{
    font-size: 1.2rem;
}

#main-footer{
    background-color:rgb(68, 67, 67);
}

#footer-menu{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    line-height: 1.5rem;
}


