@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  background-color: #eaeaea;
}

#div-logo {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  background-color: white;
}

#img-logo {
  width: 92%;
  display: flex;
  justify-content: center;
}

#logo {
  width: 10rem;
}

.fa-arrow-left {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.picture {
  width: 25rem;
}

#menu {
  position: relative;
  background-color: #eaeaea;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -3.5rem;
}
#menu-title {
  font-family: shrikhand;
  font-weight: lighter;
  margin-top: 2rem;
}

#div-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.far {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

#starter-title {
  font-weight: lighter;
  border-bottom: 0.2rem solid green;
  line-height: 0.2rem;
}