@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Shrikhand&display=swap");
body {
  background-color: #eaeaea;
  font-family: Roboto;
}

a:link {
  text-decoration: none;
}

#div-logo {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  background-color: white;
}

#img-logo {
  width: 92%;
  display: flex;
  justify-content: center;
}

#logo {
  width: 10rem;
}

.fa-arrow-left {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.picture {
  width: 100%;
}

#menu {
  position: relative;
  background-color: #eaeaea;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -3.5rem;
}
#menu-title {
  font-family: shrikhand;
  font-weight: lighter;
  margin-top: 2rem;
}

#div-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.4rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.starter-title {
  padding: 0rem 1rem;
  margin-top: 1rem;
}

.starter-border {
  font-weight: lighter;
  border-top: 0.2rem solid #99e2d0;
  width: 2.4rem;
  margin-left: 1rem;
  margin-top: 0.2rem;
  padding-bottom: 1rem;
}

.empty {
  color: black;
  cursor: pointer;
}
.empty:hover {
  transform: rotateY(100%);
  transition-duration: 3s;
  font-weight: 900;
  color: #FF79DA;
}

@keyframes slider {
  0% {
    transform: translateY(15%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}
.dish-container {
  display: flex;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 2px #c9c9c9;
  cursor: pointer;
}
.dish-container:hover .slide {
  width: 60px;
}
.dish-container:hover .fa-check-circle {
  transition: 800ms ease-in-out;
  transform: rotate(-360deg);
}

.element-menu-1 {
  animation: slider 1s forwards;
}

.element-menu-2 {
  animation: slider 2s forwards;
}

.element-menu-3 {
  animation: slider 3s forwards;
}

.element-menu-4 {
  animation: slider 4s forwards;
}

.element-menu-5 {
  animation: slider 5s forwards;
}

.element-menu-6 {
  animation: slider 6s forwards;
}

.element-menu-7 {
  animation: slider 7s forwards;
}

.element-menu-8 {
  animation: slider 8s forwards;
}

.element-menu-9 {
  animation: slider 9s forwards;
}

.element-menu-10 {
  animation: slider 10s forwards;
}

.dish-info {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0.8rem;
  overflow: hidden;
  width: 100%;
}

.description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dish-title {
  font-weight: bold;
  padding-bottom: 0.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ingredients {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9em;
  font-weight: lighter;
  padding-top: 0.2rem;
}

.price {
  font-weight: 700;
  margin-top: auto;
  padding-left: 0.5em;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: white;
  width: 0%;
  transition: width 800ms ease-in-out;
}
.slide .fa-check-circle {
  transition: 800ms ease-in-out;
  transform: rotate(360deg);
}

.menu-layout {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.order-btn {
  display: flex;
  justify-content: center;
}

.btn-second {
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
  border-style: none;
  box-shadow: 2px 2px 6px #c9c9c9;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
  margin-top: auto;
  margin-bottom: 3rem;
}

#main-footer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  line-height: 1.5rem;
  background-color: #353535;
}

#footer-menu {
  margin-top: 1rem;
  line-height: 1.5rem;
  color: white;
}

#logo-footer {
  font-weight: bold;
  color: white;
  font-family: shrikhand;
}

.fa-utensils {
  color: white;
  padding-right: 1.2em;
}

.fa-hands-helping {
  color: white;
  padding-right: 0.8em;
}