@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: Roboto;
  background-color: #eaeaea;
}

.l2 {
  animation-delay: 0.2s;
}

.l3 {
  animation-delay: 0.3s;
}

.l4 {
  animation-delay: 0.4s;
}

.l5 {
  animation-delay: 0.5s;
}

.l6 {
  animation-delay: 0.6s;
}

.l7 {
  animation-delay: 0.7s;
}

.l8 {
  animation-delay: 0.8s;
}

.letter {
  font-family: shrikhand;
}

#loader-container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
  animation: fadeout 0.25s 3s forwards;
}

@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
.letter {
  background-image: linear-gradient(50deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: loader infinite 0.3s alternate;
  font-size: 5rem;
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
#div-logo {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  background-color: white;
}

#logo {
  width: 10rem;
}

#locate {
  display: flex;
  justify-content: center;
}

#map-container {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 0.8rem;
  border-top: 3px solid #cccc;
  margin-bottom: 1rem;
}
#map-marker {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  padding-left: 5rem;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn-first {
  border: none;
  background-color: #eaeaea;
}

#explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 5vh;
}

#order {
  width: 65%;
}

#explore-description {
  opacity: 0.6;
}

.btn-second {
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
  border-style: none;
  box-shadow: 2px 2px 6px #c9c9c9;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.btn-fonction:hover {
  background-color: #f5edff;
}
.btn-fonction:hover .fonction-icon {
  color: #9356DC;
}

#menu-title {
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
  width: 19rem;
}

.fx-compose {
  margin-right: 0.8rem;
}

.btn-fonction {
  display: flex;
  align-items: center;
  border-radius: 15px;
  border-style: none;
  box-shadow: 2px 2px 6px #F6F6F6;
  font-weight: bold;
  text-decoration: none;
  background-color: #F6F6F6;
  padding: 1.5rem 2rem;
  width: 15rem;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

.fonction-number {
  margin-left: -4rem;
  color: white;
  background-color: #9356DC;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fonction-icon {
  color: #7e7e7e;
}

.fx-btn {
  color: black;
  opacity: 0.8;
}

#section-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding-bottom: 2.5rem;
}

#container-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-restaurant {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  background-color: white;
  height: 12.6rem;
  width: 20rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.picture {
  width: 20rem;
  height: 9rem;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  font-weight: bold;
}

.restaurant-title {
  width: 20rem;
}
.restaurant-card {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.new {
  display: inline;
  text-align: center;
  font-size: smaller;
  font-weight: 600;
  color: #008766;
  background-color: #99e2d0;
  border: none;
  border-radius: 0.15em;
  position: absolute;
  top: 10px;
  padding: 0.5em 0.7em;
  right: 10px;
}

.restaurant-card-clickable {
  position: relative;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
}

.title, .place {
  color: black;
  padding-bottom: 0.2rem;
}

.place {
  font-weight: lighter;
  font-size: 1em;
}

.detail-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.empty {
  color: black;
  cursor: pointer;
}
.empty:hover {
  transform: rotateY(100%);
  transition-duration: 3s;
  font-weight: 900;
  color: #FF79DA;
}

#main-footer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  line-height: 1.5rem;
  background-color: #353535;
}

#footer-menu {
  margin-top: 1rem;
  line-height: 1.5rem;
  color: white;
}

#logo-footer {
  font-weight: bold;
  color: white;
  font-family: shrikhand;
}

.fa-utensils {
  color: white;
  padding-right: 1.2em;
}

.fa-hands-helping {
  color: white;
  padding-right: 0.8em;
}